.ui-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    background: #d9eeff
}

.ui-form .buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.ui-form button {
    max-width: 45%;
    height: 24px;
    font-size: 16px;
    background: #654a85;
    outline: none;
    border: none;
    color: #fff;
}

.ui-form input[type='text'],
.ui-form textarea {
    padding: 10px;
    box-sizing: border-box;
    border: none;
    font-size: 18px;
}

.ui-form input[type='text'] {
    height: 32px;
}

.ui-form textarea {
    height: 80px;
    overflow: auto;
    margin-top: 10px;
    resize: none;
}

.directory-list-title {
    display: block;
    font-size: 26px;
    color: #ddd;
}

.directory-list-title.full {
    color: #000;
}

.directory-list {
    display: block;
    padding: 0;
}

.directory-list li {
    display: block;
    font-size: 16px;
    padding-top: 10px;
    font-family: Arial, sans-serif;
}