.ui-form {
    display: flex;
    width: 700px;
    padding: 10px 20px 20px;
    background: #d9eeff
}

.ui-form .inputs {
    display: flex;
    flex-grow: 1;
    padding-right: 40px;
    flex-direction: column;
}

.ui-form .buttons {
    display: flex;
    flex-direction: column;
}

.ui-form button {
    display: flex;
    min-width: 250px;
    height: 32px;
    margin-top: 10px;
    font-size: 16px;
    background: #654a85;
    outline: none;
    border: none;
    text-align: right;
    color: #fff;
    transition: opacity .3s;
    cursor: pointer;
}

.ui-form button b {
    text-align: left;
    flex-grow: 1;
}

.ui-form button:hover {
    opacity: .7;
}

.ui-form input[type='text'],
.ui-form textarea {
    padding: 10px;
    box-sizing: border-box;
    border: none;
    font-size: 18px;
    margin-top: 10px;
}

.ui-form input.directory-name {
    margin-top: 40px;
}

.ui-form input[type='text'] {
    height: 32px;
}

.ui-form textarea {
    height: 80px;
    overflow: auto;
    resize: none;
}

.directory-list-title {
    display: block;
    font-size: 26px;
    color: #ddd;
}

.directory-list-title.full {
    color: #000;
}

.directory-list {
    display: block;
    padding: 0;
}

.directory-list li {
    display: block;
    font-size: 16px;
    padding-top: 10px;
    font-family: Arial, sans-serif;
}